.message-success {
    background-color: rgb(197, 250, 212);
    border-bottom: solid 1px #333;
    border-radius: 5px;
    padding: 4px 0 4px 10px;
    color: rgb(8, 81, 0);
}

.message-error {
    background-color: rgb(250, 197, 197);
    border-bottom: solid 1px #333;
    padding: 4px 0 4px 10px;
    border-radius: 5px;
    color: rgb(81, 0, 0);
}

.navbar-link .nav-item a {
    color: rgb(255, 221, 221) !important;
}

.navbar-link .nav-item a:hover {
    color: rgb(255, 250, 250) !important;
}

.show-currency-grid {
    background-color: #fffffa !important;
}

/* --- currency history ------------------- */
.history {
    text-align: center;
    font-size: 82%;
}

.history-grid {
    border-bottom: solid 1px #adadad;
}

.history-grid b {
    font-weight: 600;
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.grid-item {
    background-color: #FFF;
}

.date-time {
    font-size: 11px;
}

@media (max-width: 768px) {
    .grid-medium {
        display: none;
    }
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        width: 100%;
    }

    .grid-small {
        display: none;
    }
}

@media (min-width: 992px) {
    .grid-medium {
        display: none;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    }

    .grid-small-medium {
        display: none;
    }
}

@media (max-width: 992px) {
    .grid-large {
        display: none;
    }
}